<main>
  <mat-card class="mt-3 mx-5">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <h1 class="text-2xl">Welcome to Task Track</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <h3 class="text-lg">Keep tabs on your projects!</h3>
        </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="mt-5">
      <mat-chip-set>
        <mat-chip>Angular</mat-chip>
        <mat-chip>Firebase</mat-chip>
        <mat-chip>RxJS</mat-chip>
        <mat-chip>TailwindCSS</mat-chip>
        <mat-chip>Material UI</mat-chip>
      </mat-chip-set>
      <p>
        Create, manage and plan any project! Let our intuitive features
        supercharge your next project!
      </p>
      <mat-card-actions align="start">
      <button
        mat-flat-button
        *ngIf="!(authService.user$ | async)"
        (click)="Sign()"
        mat-fab
        extended
      >
        Login/Register
      </button>
      <button
        mat-flat-button
        *ngIf="authService.user$ | async"
        (click)="Sign()"
        mat-fab
        extended
      >
        View Dashboard
      </button>
    </mat-card-actions>
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-3 mx-5 flex">
    <mat-card-header>
      <mat-card-title-group> 
        <mat-card-subtitle class="">
            <p class="text-lg">Task Tracker, an Angular JS demonstration project.</p>
            
        </mat-card-subtitle>
        <img mat-card-lg-image src="/tasktrack.png" width="200" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
        <p>This project was created to demonstrate my capabilities whilst developing using Angular.</p>
        <p>If you have any questions regarding this project please don't hesitate to contact me at: hello&#64;dansh.dev</p>
        <p>Any feedback is greatly appreciated and will be noted.</p>

        <p>The application has features such as shared projects, easily done via inputting someones user ID into the "share with" field of a project.
          It also has a task priority system, allowing you to set the priority of a task to low, medium or high.
          The application also has a task completion system, allowing you to mark a task as complete or incomplete.
          Thanks for checking it out!
        </p>
        <p>This was developed in 1 day so I apologize for some of the spotty UI elements and lack of features, however I plan to update and improve this project ove the coming days.</p>
    </mat-card-content>
  </mat-card>
  
</main>
